body {
    font-family: sans-serif;
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #ffffff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  }
  
  h1 {
    margin-top: 0;
    text-align: center;
    font-size: 36px;
    font-weight: 600;
    color: #484848;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
  label {
    font-size: 24px;
    margin-bottom: 10px;
    color: #484848;
    text-shadow: 1px 1px 0 #ffffff, -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff;
  }
  
  input[type="text"] {
    font-size: 20px;
    padding: 15px;
    border-radius: 10px;
    border: 2px solid #c6c6c6;
    outline: none;
  }
  
  input[type="submit"] {
    font-size: 20px;
    padding: 15px;
    background-color: #050c31;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #0b1757;
  }
  
  #output-message {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    color: #ffffff;
    transition: opacity 0.3s ease;
    text-shadow: 1px 1px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
    margin-top: 20px;
  }
  
  #output-message.yes {
    background-color: #3ae374;
  }
  
  #output-message.no {
    background-color: #f76d6d;
  }
  